@model FeatureSharp.Web.Models.FeatureDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeatureDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.FeatureID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatureID)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.FeatureName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatureName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeatureID }) |
    <a asp-action="Index">Back to List</a>
</div>
